# Agda
*.agdai

# paper
paper/dep-typed-wbl-heaps.aux
paper/dep-typed-wbl-heaps.log
paper/dep-typed-wbl-heaps.pdf
paper/1-introduction.tex.backup
paper/2-wbl-heaps.tex.backup
paper/3-proofs.tex.backup
paper/dep-typed-wbl-heaps.bbl
paper/dep-typed-wbl-heaps.blg
